@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Habibi&family=Mukta+Vaani:wght@200&display=swap');

* {
    font-family: 'Mukta Vaani', sans-serif;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6rem;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    z-index: 10;
}

main {
    margin-top: 6rem;
    padding: 0 2rem;
}

nav {
    width: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 2rem;
}

nav a:hover {
    
    background: linear-gradient(
        90deg, 
        rgb(94, 176, 226),
        rgb(66, 140, 203));
    border-radius: 0.3rem;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0.2rem;
    padding-left: 4rem;
}

section[id] {
    scroll-margin-top: 8rem;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

#inicio {
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    font-family: 'Habibi', serif;
    font-size: 3rem;
    text-align: center;
    flex: 1;
}

.logo {
    max-width: 300px;
    flex: 2;
}

#nosotros, #contacto {
    margin-bottom: 10rem;
}

form {
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    
}

h3 {
    font-size: 1.8rem;
    margin: 1.5rem 0;
}

textarea {
    height: 5rem;
}

input[type="submit"] {
    margin-top: 1.6rem;
    height: 2rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: linear-gradient(
        90deg, 
        rgb(94, 176, 226),
        rgb(66, 140, 203));
    border-radius: 0.3rem;
    border: 1px solid black;
}

footer {
    height: 6rem;
    margin-top: 3rem;
    border-top: 1px solid whitesmoke;
    margin-right: 4rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
    font-style: italic;
    line-height: 1.3rem;
}